In [14]:
import pandas as pd

In [26]:
pop1_path = ('NSW Population.xlsx')
df_pop1= pd.read_excel(pop1_path)
df_pop1

     LGA code                LGA
0       10050             Albury
1       10180  Armidale Regional
2       10250            Ballina
3       10300          Balranald
4       10470  Bathurst Regional
..        ...                ...
124     18350      Wingecarribee
125     18400        Wollondilly
126     18450         Wollongong
127     18500          Woollahra
128     18710        Yass Valley

[129 rows x 2 columns]

In [27]:
pop2_path = ('Population by LHD.xlsx')
df_pop2 = pd.read_excel(pop2_path)
df_pop2

              LHD              LGA  Population
0          Sydney          Burwood       40866
1          Sydney       Canada Bay       96550
2          Sydney       Inner West      201880
3          Sydney      Strathfield       47767
4          Sydney           Sydney      124368
..            ...              ...         ...
124  Northern NSW  Clarence Valley       51730
125  Northern NSW           Kyogle        8788
126  Northern NSW          Lismore       43667
127  Northern NSW  Richmond Valley       23490
128  Northern NSW            Tweed       98382

[129 rows x 3 columns]

In [28]:
join_df = pd.merge(df_pop1, 
                   df_pop2,
                   on='LGA', how='left')

join_df

     LGA code                LGA                   LHD  Population
0       10050             Albury          Murrumbidgee       55055
1       10180  Armidale Regional    Hunter New England       29704
2       10250            Ballina          Northern NSW       45217
3       10300          Balranald              Far West        2306
4       10470  Bathurst Regional           Western NSW       43996
..        ...                ...                   ...         ...
124     18350      Wingecarribee  South Western Sydney       51760
125     18400        Wollondilly  South Western Sydney       54005
126     18450         Wollongong  Illawarra Shoalhaven      219798
127     18500          Woollahra  South Eastern Sydney       59431
128     18710        Yass Valley          Southern NSW       17321

[129 rows x 4 columns]

In [30]:
filename = 'FinalData/LHD-LGA Mapping.xlsx'
join_df.to_excel(filename)